/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}

/**
 * h1〜h6共通
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
/**
 * h1タグ
 */
h1 {
  font-size: 2.2rem;
}
/**
 * h2タグ
 */
h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
/**
 * h3〜h6タグ
 */
h3,
h4,
h5,
h6 {
  font-size: 1.05em;
  margin-top: 20px;
  margin-bottom: 10px;
}
/**
 * ulタグ
 */
 ul li{
	padding:0px;
	margin:0px;
}
ul li{
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 3px 0px 1px 0px !important;
}
ul li{
	position:relative;
	padding-left:20px;
}
ul li:after{
	content:'';
	position:absolute; 
	background:#227f38;
	width:5px;
	height:5px; 
	top:10px; 
	left:5px; 
}
/**
 * olタグ
 */
 ol {
	counter-reset:li;
	padding:0;
	list-style:none;
}
ol li {
	position:relative;
	margin:0 0 6px 4em;
	padding:2px 5px;
}
ol li:before {
	content:counter(li);
	counter-increment:li;
	position:absolute;
	top:-1px;
	left:-2.0rem;
	width:1.8rem;
	padding:3px 0;
	color:#fff;
	background:#249d30;
	font-weight:bold;
	text-align:center;
	border-radius: 10px;
}
/**
 * table系
 */
table {
  border-collapse: collapse;
  margin: 30px auto;
}
td,
th {
  padding: 0.8rem;
}
th {
  background-color: rgba(0, 0, 0, 0.05);
}
tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
tr:last-child {
  border: none;
}
thead {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
tfoot {
  border-top: 2px solid rgba(0, 0, 0, 0.4);
}

a {
	color: #000;
	text-decoration: none;
}

p {
	margin-bottom: 12px;
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}

pre {
	padding: 1rem;
}

pre>code {
	all: unset;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

::selection {
	background-color: #4E9F3D;
	color: white;
}