---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = "Blog"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
	<Navigation />

		  <h1>ｓｄｓｄｓｄｓｄｓｄｓｄｓｄ</h1>
	</body>
</html>
