---
import Icon from "astro-icon";
import { SITE_TITLE } from "../config";
---

<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-G2VS231L74"
></script>

<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-G2VS231L74");
</script>

<header class="mb-4 flex flex-row justify-between">
  <a href="/">
    <h1
      class="uppercase font-bold text-green-700 hover:text-green-500 text-3xl"
    >
      {SITE_TITLE}
    </h1>
  </a>
  <button id="dark-mode-toggle">
    <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
  </button>
</header>

<script is:inline>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  window.onload = function () {
    const element = document.getElementById("dark-mode-toggle");

    if (element) {
      element.addEventListener("click", () => {
        document.documentElement.classList.toggle("dark");

        localStorage.theme = document.documentElement.classList.contains("dark")
          ? "dark"
          : "light";
      });
    }
  };
</script>
